* {
    font-family: 'Margarine';
    background-color: #fdffcd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin-top: 30px;
}

h1 {
    color: black;
    font-size: 55px;
    margin-bottom: 10px;
}

p {
    color: black;
    font-size: 35px;
    margin-bottom: 10px;
}

.game-container {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 5px;
    width: 500px;
    position: relative;
}

.cell {
    height: 150px;
    background-color: #274c77;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    /* box-shadow: 10px 10px black inset; */
    background-color: #fdffcd;
    border: 5px solid #274c77;
    border-radius: 20px 20px 20px 20px;
}

.line {
    position: absolute;
    background-color: black;
}

.horizontal {
    width: 80%;
    height: 2px;
}

.vertical {
    width: 3px;
    height: 375px;
}

#line1 {
    top: 162px;
    left: 50px;
}

#line2 {
    top: 335px;
    left: 50px;
}

#line3 {
    top: 60px;
    left: 163px;
}

#line4 {
    top: 60px;
    left: 335px;
}

.side-menu {
    margin-left: 20px;
    padding: 15px;
    width: 20%;
    background-color: #8b8c89;
    border-radius: 10px;
}

#currentPlayer {
    font-size: 25px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 35px;
    border-radius: 15px;
}


#winnerDisplay {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    border-radius: 15px;
    color: black;
    background-color: #fdffcd;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in, transform 1s ease-in;
}

#winnerDisplay.show {
    opacity: 1;
    transform: translateY(0);
    background-color: #fdffcd;
}


#playAgain,
#playAgainstPC {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 24px;
    background-color: bisque;
    color: black;
    border: solid 2px black;
    border-radius: 20px;
    cursor: pointer;
}

#playAgain:hover {
    font-weight: bold;
    border: 3px solid black;
}

#playAgainstPC:hover {
    font-weight: bold;
    border: 3px solid black;
}

#countdownDisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
    display: none; /* Initially hidden */
}

#countdown {
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0.005); 
    color: white;
    font-weight: bolder;
}